@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

nav{
	background-color: rgb(107, 106, 106);
	font-size: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo img {
    width: 65px;
    margin: 5px auto;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu-horizontal > li > a{
	display: block;
    margin: 15px auto;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: black;
}

.menu-vertical{
	position: absolute;
	display: none;
    list-style: disc;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}


body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: "Merriweather", serif;
    overflow-x: hidden;
}


footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(107, 106, 106);
    color: white;
    bottom: 0;
    margin-top: 50px;
    height: 10em;
}

.text {
    flex: 50%;
    border-right: 1px solid white;
}

.text h2 {
    font-size: 15px;
}



.rrss img{
    width: 15%;
    height: 25%;
    margin: 15px;
}

.rrss img:nth-child(3){
    width: 15%;
    height: 15%;
}

