.container {
    display: flex;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 0px 15px 0px 15px;
    margin-bottom: 35px;
}

.interationboxes{
    display: flex;
    width: 150px;
    height: 350px;
    flex: 25%;
    flex-direction: row;
    text-align: center;
    border-radius: 5%;
    position: relative;
}

.interationboxes img{
    width: 220px;
    height: 155px;
    position: absolute;
    border-radius: 5%;
}

.interationboxes img:hover{
    transform: translate(-5px,-5px) scale(1.6);
    transition: transform 500ms;
}

.interationboxes.one img {
    top: 52%;
    left: 59%;
    z-index: 100;
    
}

.interationboxes.two img {
    top: 56%;
    left: 60%;
}

.interationboxes.three img {
    width: 300px;
    height: 300px;
    top: 35%;
    left: 60%;
    z-index: 300;
}

.interationboxes.one{
    margin-right: 15px;
    background-color: lightcoral;
}

.interationboxes.two{
    margin-right: 15px;
    background-color: lemonchiffon;
}

.interationboxes.three{
    background-color: lemonchiffon;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}