
.container-fluid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.esloga {
    
    font-size: 35px;
    color: rgb(107, 106, 106);
    text-align: center;
    margin: 100px 25px;
    z-index: 2;
}

.carousel  {
    width: 100%;
    box-shadow: 4px 4px 10px rgb(95, 95, 95);
    margin-bottom: 35px;
}

.whoare {
    background-color: rgb(107, 106, 106);
    display: flex;
    text-align: center;
    margin: 45px auto;
}

.leftside {
    padding: 50px;
}

.leftside h2 {
    font-weight: bolder;
    color:rgba(255, 0, 0,0.5);
}

.leftside p {
    color: white;
}

h2 {
    text-align: center;
}

.content {
    display: flex;
    color: rgb(107, 106, 106);
    background-color: rgba(255, 0, 0,0.5);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 45px;
}

.card {
    margin: 10px;
    padding: 10px;
    flex: 15%;
    width: 250px;
    height: 250px;
    text-align: center;
}

.imagen img {
    width: 65%;
}

.zonaDes h2{
    font-size: 12px;
    margin: 10px 15px;
}

.content ul{
    padding: 0;
}

.zonaDes li{
    list-style: none;
}

.zonaDes a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin: auto 15px;
}

@media (max-width: 760px){
    .container-fluid {
        grid-template-columns: 100%;
    }

    .content {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .card {
        margin-left: 45px;
    }

    .card:nth-child(5){
        margin: 15px 200px;
        width: 100%;
    }

    .whoare {
        flex-direction: column;
    }
}