form {
    width: 450px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 15px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

form h2 {
    display: flex;
    justify-content: center;
}

.mejora {
    outline: none;
    border-radius: 4px;
    border: 0px;
    padding: 8px;
    width: 425px;
}

.mejora:focus {
    border-color: black;
}

.centerbtn {
    display: flex;
    justify-content: center;
}

.boti {
    background-color: gray;
    color: white;
    outline: none;
    border-radius: 4px;
    border: 0px;
    padding: 8px;
    text-align: center;
}