@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: black;
}

.menu-vertical{
	position: absolute;
	display: none;
    list-style: disc;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}


body {
    background: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: "Merriweather", serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    width: 150px;
    padding: 10px;
    margin: 10px 150px;
}

.card img {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid rgb(107, 106, 106);
}

.card a {
    text-decoration: none;
    color: rgb(107, 106, 106);
}