@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(107, 106, 106);
}

header h1 {
    font-weight: bolder;
    margin: 45px 0px 0px 10px;
}

.logo img {
    width: 80px;
    margin: 25px 10px 0px 0px;
}

nav{
	margin: auto;
	background-color: rgba(255, 0, 0, 0.5);
	font-size: 15px;
	margin-top: 25px;
}
.menu-horizontal
{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: black;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: disc;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.container {
    display: flex;
    margin: 0px 5px 0px 5px;
}

.container aside {
    display: flex;
    flex: 45%;
    height: 100vh;
    color: rgb(107, 106, 106);
    padding-right: 25px;
}

.parallax-container {
    width: 100%;
    height: 100vh;
    perspective: 8px;
    perspective-origin: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.image {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: 0 50%;
}

.image_background {
    height: auto;
    width: 100%;
    transform: translateZ(0px) scale(1);
    transform-origin: 0 50%;
}

.image_middel {
    height: 100%;
    width: 100%;
    transform: translateZ(5px) scale(0.375);
    transform-origin: 50%;
}

.image_foreground {
    transform: translateZ(5px) scale(0.75);
    transform-origin: top;
}

.card {
    background: white;
    width: 80px;
    height: 100px;
    border-radius: 10px;
    transform: rotate(-20px);
}

.one {
    left: 30%;
}

.two {
    right: 20%;
    top: 300px;
}

.three {
    left: 40%
    bottom -700px;
}

.four {

}

.five {

}

.six {

}

.seven {

}


.container section {
    font-size: 25px;
    color: rgb(107, 106, 106);
}


.esloga {
    text-align: center;
}

.banner video{
    width: 1150px;
       
}



footer {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    
}